html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: 'Roboto Mono', monospace;
}

body {
	color: black;
	font-size: 1rem;
	line-height: 1.4em;
}

h1,
h2 {
	font-weight: 700;
	margin: 1rem 0;
}

button {
	font-size: 0.9rem;
	margin: 1rem 0 2rem;
	width: 100%;
	height: 2rem;
}

input {
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
}

main {
	display: grid;
	grid-template-columns: 18% auto;
	grid-template-rows: 1fr;
	min-height: 100vh;
}

.menu {
	background-color: #edf1f4;
	grid-area: 1 / 1 / 2 / 2;
	padding: 2rem;
}

.table {
	grid-area: 1 / 2 / 2 / 3;
	padding: 2rem;
}

table,
th,
td {
	padding: 0.25rem 1rem;
	vertical-align: middle;
}

table {
	margin-bottom: 2rem;
	width: 100%;
}

tr:first-child {
	height: 8rem;
}
